#adminContainer{
    min-height: 75vh;
    margin-top: 2vh;
}

#adminContainer table{
    --bs-table-bg: var(--blue-100);
    border: var(--blue-400) solid 1px;
    --bs-table-bg-type: var(--blue-50);
    --bs-table-hover-bg: var(--blue-200);
}

#adminContainer table td, #adminContainer table tr {
    max-width: 18vh;
    overflow: hidden;
}

#adminContainer button{
    background: var(--blue-500);
}

#adminContainer button:hover{
    background: var(--blue-700);
}
