#gallery{
    min-height: 67vh;
    margin-bottom: 1vh;
}

#gallery .containerImg{
    max-height: 40vh; 
    overflow: hidden;
}

#gallery .images{
    object-fit: cover;
    min-height: 26vh;
}

@media screen and (min-width: 576px) {
    #gallery .images{
        min-height: 14vh;
    }

    #gallery .containerImg{
        max-height: 30vh; 
    }
}

@media screen and (min-width: 768px) {
    #gallery .images{
        min-height: 35vh;
    }
}
