#roomCards{
    min-height: 75vh;
}

#roomCards .card {
    margin: 2vh 0 2vh 0;
    border-radius: 1vh;
    background: var(--blue-100);
    border: var(--blue-400) solid 1px;
    color: var(--blue-950);
    min-height: 47vh;
    object-fit: cover;
    overflow: hidden;
}

#roomCards .buttonConfirmation,
.modal .buttonConfirmation {
    background: var(--blue-500);
}

.modal {
    padding-top: 8.5vh;
}

.modal .modal-content{
    background-color: var(--blue-100);
    border: var(--blue-400) solid 1px;
}

.modal img{
    margin-bottom: 1vh;
}

.modal #reservationDate{
    background-color: var(--blue-50);
}

.modal #modalButtons{
    justify-content: end;
    margin-right: 0;
}

.modal button{
    max-width: 38%;
    margin: 1vh 0 0 1vh;
    
}

@media screen and (min-width: 576px) {
    #roomCards .card {
        min-height: 36vh;
    }
}

@media screen and (min-width: 768px) {
    #roomCards .card {
        min-height: 31vh;
    }
}

@media screen and (min-width: 992px) {
    #roomCards .card {
        min-height: 34vw;
    }

    #roomCards .card img{
        height: 17vw;
        min-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    #roomCards .card {
        min-height: 32vw;
    }

    #roomCards .card img{
        height: 16vw;
    }
}

@media screen and (min-width: 1400px) {
    #roomCards .card {
        min-height: 350px;
    }

    #roomCards .card img{
        height: 175px;
    }
}